@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
	background-color: rgba(0,0,0,.8);
}

table,body,input,th,td,li,ul,header,footer{
	font-family: Quicksand;
	font-size: 14px;
	letter-spacing: 3px;
}

table, th, td {

	border: 3px solid white;
	border-collapse: collapse;
	color: white;
}

input.title{
	display:inline;
	margin: 0 auto;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 28px;
	background-color: transparent;
	color:white;
	border:none;
	text-align: right;
}

a.event {
	font-family: Quicksand;
	font-size: 10px;
	text-decoration: none;
	color:white;
}


table td {
	vertical-align: text-top;
	padding: 3px 3px 3px 3px;
	text-align: right;
	min-width:120px;
}

table td.monthCell{
	text-align: center;
	vertical-align: middle;
	height: 70px;
}

div.month{
	display: inline;
	margin: 0 auto;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 28px;
}

div.button{
	width:50px;
	display: inline;
	border : none;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size:36px;
	padding-bottom: 10px;
}

div.button.left{
	float: left;
	padding-left: 20px;
}

div.button.right{
	float: right;
	padding-right: 20px;
}

table tr.week {
	height:90px;
}

.day {
	text-align: left;
	font-weight: bold;
	padding-left: 4px;
}

div.event {
	font-size: 10px;
	border:1px solid white;
	padding: 1px 1px 1px 1px;
}

a.hidden {
	text-decoration: none;
	color:white;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}